{% extends 'base.html' %}
{% block title %}Acerca de mí{% endblock %}
{% block content %}
  <h1>Acerca de mí</h1>
  <p>Hola 👋 Soy <strong>Alexandra </strong>, apasionada por los libros, los proyectos digitales, la innovación y el liderazgo en equipos creativos. Tengo 14 años de experiencia en el sector financiero y me encanta construir soluciones tecnológicas que mejoren la vida de las personas.</p>
    <p>Este proyecto es una muestra de mi evolución en desarrollo web con Django en el curso de CoderHouse.</p>
  </section>
{% endblock %}
